*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primary: #6c63ff;
    --color-secondary: #f9812a;
    --color-white: #fff;
    --color-white-dark: #ddd;
    --color-black: #222;
    background-color: var(--color-white);
    color: var(--color-black);
  }

html {
    // Using this, since can give padding and margin in rem
    // The accordingly change font-size for mobile devices
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--color-black);
    cursor: pointer;
}

ul{
    list-style: none;
}

@media only screen and (max-width: 600px){
    html{
        font-size: 50%;
    }
}
